{{#partial "content"}}

    <table class="tableDetails">
        <thead>
            <tr>
                <th scope="col">FIRST NAME</th>
                <th scope="col">MIDDLE NAME</th>
                <th scope="col">LAST NAME</th>
                <th scope="col">STATUS</th>
                <th scope="col">EDIT</th>
                <th scope="col">DELETE</th>
            </tr>
        </thead>

                <tbody>
                <tr>

                    <td scope="row" ><p>{{ engineer.first_name}}</p></td>
                    <td><p>{{ engineer.name }}</p></td>
                    <td><p>{{ engineer.last_name}}</p></td>
                    <td><p>{{ engineer.status}}</p></td>
                    <td id="edit"><a href="/engineers/{{engineer.id}}/update"><p>Edit...</p></a></td>
                    <td id="delete"><a href="/engineers/{{engineer.id}}/delete"><p>Delete...</p></a></td>
                </tr>
                </tbody>

    </table>


<!--    <h2>List of Sites under Engineer</h2>-->
<!--    <div class="panel panel-default">-->
<!--        <div class="panel-heading">-->
<!--            <p>Sites</p>-->
<!--        </div>-->

<!--        <div class="panel-body">-->

<!--            <table id="siteScope">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">SITE STATUS</th>-->
<!--                    <th scope="col">SITE NAME</th>-->
<!--                    <th scope="col">DETAILS</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                {{#if sites}}-->
<!--                    {{#each sites }}-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <th scope="row">{{status}}</th>-->
<!--                            <td>{{site_name}}</td>-->
<!--                            <td><p><a href="/sites/{{id}}"> View details</a></p></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->

<!--                    {{/each}}-->
<!--                {{else}}-->
<!--                    <p>No sites</p>-->
<!--                {{/if}}-->
<!--            </table>-->
<!--        </div>-->

<!--        <div class="panel-footer">-->
<!--            <p>No sites yet, kindly add sites for this engineer!<a href="/sites/new">Here</a></p>-->
<!--        </div>-->
<!--    </div>-->

{{/partial}}

{{> layout.hbs}}